<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time Products</title>
</head>
<body>
    <h1>Productos para el carrito!</h1>
    <a href="/cart">Ver tu carrito</a>
    <div id="divProductos">
        <ul>
            {{#each productos}}
                <li>{{this.title}}: ${{this.price}}, stock: {{this.stock }}u.
                    <form id="formAddProduct" data-cartid="{{this.cartId}}" data-productid="{{this._id}}">
                        <button type="submit">Agregar al carrito</button>
                    </form>
                </li>
                <br>
            {{/each}}
        </ul>
    </div>
</body>
<script src="/js/products.js"></script>
</html>